
body {
  background-color: rgb(20, 20, 20);
}
.navbar {
  float: left;
  width: fit-content;
  border-right: 1px rgb(53, 51, 51) solid;
}
.iconSize {
  font-size: 22px;
}
.carousel {
  position: relative;
  width: 1000px;
}
.cardLink{
  text-decoration: none;
}
.cardImg{
  mix-blend-mode: color;
  right: 51px;
  top: 7px;
}